<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper"> <!-- 하나의 namespace에 여러개의 id가 추가됨 -->
	<select id="test" resultType="string">
		select 'Mybatis Connect Success!!' from dual <!-- 성공시 나올 select query 문 -->
	</select>
	<select id="test1" resultType="_int"> <!-- int형 -->
		select 1234 from dual 
	</select>
	<select id="test2" resultType="map"> <!-- map형 -->
		select 1 as n1, 2 as n2, 3 as n3, 4 as n4 from dual 
		union all
		select 5 as n1, 6 as n2, 7 as n3, 8 as n4 from dual
	</select>
	<!--  <select id="employee" parameterType="_int" resultType="empVO">
		SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME FROM EMPLOYEES WHERE EMPLOYEE_ID = #{id}
	</select> -->	
	<select id="employee" parameterType="map" resultType="empVO">
		SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME FROM EMPLOYEES WHERE EMPLOYEE_ID BETWEEN #{id1} AND #{id2}
	</select>
	
	
</mapper>