@charset "UTF-8";

.flex-layout {
	display: flex;
	flex-wrap: wrap;
}


@media screen and (max-device-width: 620px) {
	.flex-layout {
		display : flex;
		flex-direction: column;
	}
}


section {
	height: 360px;
	background-color: #f0c5fe;
}

aside {
	height: 360px;
	background-color: #bbf594;
}

footer {
	height: 120px;
	background-color: #f9af9f;
}

.b480 {
	flex-basis: 480px;
}
.b360 {
	flex-basis: 360px;
}

.w12 {
	width: 100%
}
.w11 {
	flex-grow: 11;
}
.w10 {
	flex-grow: 10;
}
.w9 {
	flex-grow: 9;
}
.w8 {
	flex-grow: 8;
}
.w7 {
	flex-grow: 7;
}
.w6 {
	flex-grow: 6;
}
.w5 {
	flex-grow: 5;
}
.w4 {
	flex-grow: 4;
}
.w3 {
	flex-grow: 3;
}
.w2 {
	flex-grow: 2;
}
.w1 {
	flex-grow: 1;
}

/* sample05 복붙 */

* {
	margin: 0; padding:0;
	box-sizing: border-box;
}

.flex-menu .menu{
	display: flex;
}

.flex-menu .list {
	flex-grow: 1;
}



@media screen and (max-width: 500px){
	.flex-menu .menu{
		flex-wrap: wrap;
	}
	.flex-menu .list{
		flex-basis: 480px;
	}
}

ul.menu {
	list-style-type: none;
	padding: 0;
}

.menu .list {
	text-align: center;
	width: 120px;
}


.menu-link {
	display: inline-block;
	text-decoration: none;
	padding: 1rem 2rem;
	width: 100%;
}

.bg-red{
	background-color: red;
}

.bg-red :hover {
	background-color: darkred;
}
.fg-white * {
	color: white;
}

.fg-white :hover {
	color: white;
	font-weight: bold;
}

















