@charset "UTF-8";

nav ul.top-menu {
	list-style-type: none;
	background-color: black;
}

ul.top-menu li,a{
	display: inline-block;
}

ul.top-menu a.menu-link{
	text-decoration: none;
	color: white;
	padding: 0.5em 1em;
}

ul.top-menu a.menu-link:hover {
	background-color: white;
	color: black;
}

ul.top-menu .active {
	background-color: gray;
	color: black;
}



ul.side-menu {
	list-style-type : none;
	background-color: black;
	width: 480px;
	padding: 0;
}

ul.side-menu a.menu-link {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1em;
}

ul.side-menu a.menu-link:hover {
	background-color: white;
	color: black;
}

ul.side-menu .active {
	background-color: gray;
	color: black;
}





















